html {
    background-image: url(../Materials/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden; /* I absolutely fucking hate scaling in CSS */
}

#menu img {
    position: absolute;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

#menu {
    height: 100vh;
    width: 100vw;
    position: absolute;
    left: 0%;
    top: 0%;
    visibility: visible;
}

#langs {
    background-color: rgb(213,198,117);
    position: absolute;
    top: 10px;
    right: 10px;
    height: 5%;
    width: 5%;
    font-size: 20px;
    z-index: 2;
}

#langs:hover {
    background-color: rgb(180, 168, 100);
}

#playbutton {
    height: 90px;
    width: 300px;
    font-size: 70px;
    position: absolute;
    bottom: 100px;
    left: 6px;
    color: black;
    background-color: rgb(213,198,117);
    border-radius: 3% 3% 3% / 6% 6% 6%;  /* okrągły przycisk, jakie wymiary do czego sprawdzaj tutaj: https://css-irl.info/logical-border-radius/ */
}

#playbutton:hover {
    background-color: rgb(180, 168, 100);
}

#githubbutton {
    height: 90px;
    width: 300px;
    position: absolute;
    bottom: 6px;
    left: 6px;
    /*background-color: rgb(213,198,117);*/
}

#githubbutton button {
    height: 90px;
    width: 300px;
    font-size: 70px;
    color: black;
    background-color: rgb(213,198,117);
    border-radius: 3% 3% 3% / 6% 6% 6%;
}

#githubbutton button:hover {
    background-color: rgb(180, 168, 100);
}

#version {
    position: absolute;
    right: 10px;
    bottom: 5px;
    text-align: right;
    color: rgb(213,198,117);
    font-size: 22px;
}

#creator {
    position: absolute;
    right: 10px;
    bottom: -15px;
    text-align: right;
    color: rgb(213,198,117);
    font-size: 17px;
}

#click-area {
    pointer-events: none;
    cursor: grab;
    height: 90%;
    left: 0;
    right: 0;
    margin-top: 5%;
    margin-inline: auto; /* Nie wiem jak, ale dodanie margin-inline (cokolwiek to robi) powoduje że wyśrodkowanie działa prawidłowo) */
    width: 35vw;
    position: absolute;
}

.counter-n-shop {
    background-color: rgba(213,198,117,0.6);
    height: 40px;
    font-size: 30px;
    color: black;
}

#volume-toggle {
    right: 10px;
    width: 40px;
    position: absolute;
    align-content: center;
    border-radius: 10% 10% 10% / 10% 10% 10%;
}

#volume-toggle:hover {
    background-color: rgba(175, 163, 97, 0.6);
}

#volume-toggle img {
    width: 29px;
    height: 29px;
}

#switch-music {
    right: 55px;
    width: 40px;
    position: absolute;
    align-content: center;
    border-radius: 10% 10% 10% / 10% 10% 10%;
    visibility: hidden;
}

#switch-music:hover {
    background-color: rgba(175, 163, 97, 0.6);
}

#switch-music img {
    width: 29px;
    height: 29px;
}

#cash {
    width: 400px;
    text-align: left;
    border-radius: 2.5% 2.5% 2.5% 2.5% / 20% 20% 20% 20%; /* chuj wie czy 3 czy 4 wartości, dam 4 bo działa */
}

#shop- {
    width: 200px;
    border-radius: 5% 5% 5% 5% / 20% 20% 20% 20%;
}

#shop-:hover {
    background-color: rgba(175, 163, 97, 0.6);
}

/*@keyframes slideUp {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
}*/
  
/*#shop {
    visibility: hidden;
    height: 95%;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    width: 60%;
    left: 0;
    right: 0;
    top: 5px;
    bottom: 0;
    margin-inline: auto;
    background-color: rgba(213,198,117,0.99999);
    box-shadow: 10px 5px 5px rgb(158, 147, 87);
    z-index: 10;
    transform: translateY(100%);
    transition: visibility 0s, transform 0.5s ease-in-out;
}*/

#shop {
    visibility: hidden;
    height: 95%;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    width: 60%;
    left: 0;
    right: 0;
    top: 5px;
    bottom: 0;
    margin-inline: auto;
    background-color: rgba(213,198,117,0.85);
    box-shadow: 10px 5px 5px rgb(158, 147, 87);
    z-index: 10;
    transition: margin-top 0.4s ease-out, margin-bottom 0.4s ease-in;
}

#shop.visible {
    visibility: visible;
    transform: translateY(0);
    animation: slideUp 0.5s ease-in-out forwards;
}

.purchase-item {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
    align-items: flex-start;
}

.purchase-item img {
    width: 18%;
}

.purchase-item .info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.purchase-item h2 {
    margin: 0;
}

.purchase-item p {
    margin: 0;
}

.purchase-buttons {
    color: antiquewhite;
    background-color: green;
    width: fit-content;
    cursor: copy;
    height: 30px;
    font-size: 111%;
}

/* Media Queries for Responsiveness <-- ???????*/
@media (max-width: 768px) {
    #shop {
        width: 90%;
    }

    .purchase-item {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .purchase-item img {
        width: 50%;
        margin-bottom: 20px;
    }

    .purchase-item .info {
        align-items: center;
    }

    .purchase-buttons {
        width: 80%;
    }
}

/* ------------------------------- */

#piano_guy {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 30.1%;
    width: 25%;
}

#the_concerned {
    visibility: hidden;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 30%;
    z-index: 1;
}

#cowboy {
    visibility: hidden;
    position: absolute;
    bottom: 12%;
    width: 22%;
    left: 67%;
    z-index: 0.9;
}

#old_photo {
    visibility: hidden;
    position: absolute;
    bottom: 33%;
    width: 14%;
    left: 2%;
    transform: rotate(-5deg);
    z-index: 0.9;
}

#mge {
    visibility: hidden;
    position: absolute;
    bottom: -3%;
    width: 18%;
    right: 0;
}

#friends {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    right: 17%;
    width: 26%;
    z-index: 1;
}