html {
    background-image: url(../Materials/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden; /* I absolutely fucking hate scaling in CSS */
}

#menu img {
    position: absolute;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

#menu {
    height: 100vh;
    width: 100vw;
    position: absolute;
    left: 0%;
    top: 0%;
    visibility: visible;
}

#playbutton {
    height: 90px;
    width: 300px;
    font-size: 70px;
    position: absolute;
    bottom: 100px;
    left: 6px;
    color: black;
    background-color: rgb(213,198,117);
}

#githubbutton {
    height: 90px;
    width: 300px;
    position: absolute;
    bottom: 6px;
    left: 6px;
    background-color: rgb(213,198,117);
}

#githubbutton button {
    height: 90px;
    width: 300px;
    font-size: 70px;
    color: black;
    background-color: rgb(213,198,117); 
}

#version {
    position: absolute;
    right: 10px;
    bottom: -4px;
    text-align: right;
    color: rgb(213,198,117);
    font-size: 22px;
}

#click-area {
    cursor: grab;
    height: 100%;
    left: 0;
    right: 0;
    margin-inline: auto; /* Nie wiem jak, ale dodanie margin-inline (cokolwiek to robi) powoduje że wyśrodkowanie działa prawidłowo) */
    width: 35vw;
    position: absolute;
}

.counter-n-shop {
    background-color: rgba(213,198,117,0.6);
    height: 40px;
    width: 200px;
    font-size: 30px;
    color: black;
}

#shop {
    visibility: hidden;
    height: 95%;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    width: 60%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-inline: auto;
    background-color: rgba(213,198,117,0.99999);;
    box-shadow: 10px 5px 5px rgb(158, 147, 87);
}
